.about-app-info {
    border-bottom: gray solid 4px;
    width: 500px;        
}
.about-app-title, .about-app-company {
    font-weight: bold;
}
.screen-x-small .about-app-info {
    width: 100%;
  }
  