.track-map-popup {
  .dx-popup-content {
    padding: 10px;
  }

  .dx-popup-title.dx-toolbar .dx-toolbar-items-container {
    height: 46px;
  }

  .nodata {
    position: relative;
    margin: 20px;
  }

  .track-map-header {
    display: flex;
    height: 40px;
    align-items: center;
  }
  .track-map-check-box, .track-map-select-box {
    margin-left: 5px;
  }

}
