.track-map-popup {
  .dx-popup-content {
    padding: 10px;
  }
  .dx-popup-title.dx-toolbar .dx-toolbar-items-container {
    height: 46px;
  }

  .nodata {
    position: relative;
    margin: 20px;
  }

  .track-map-check-box {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

}
