.track-map-popup {
  .dx-popup-content {
    padding: 10px;
  }

  .dx-popup-title.dx-toolbar .dx-toolbar-items-container {
    height: 46px;
  }

  .nodata {
    position: relative;
    margin: 20px;
  }

  #track-map-popup-menu {
    border-radius: 50%;
    box-shadow: none;
    padding-top: 3px;
  }
}
