.logos-container {
  text-align: center;
  
  svg {
    display: inline-block;  
  };
  span {
    color: #666666;
    font-size: 24px;
    font-weight: bold;
    vertical-align: top;
    margin-top: 30px;    
    margin-left: 30px;    
    display: inline-block;
    text-align: center;
  }
}

.devextreme-logo {
  width: 200px;
  height: 34px;
  margin-bottom: 19px;
}

.home-page-content {
  p {
    line-height: 30px;
    text-align: justify;
  } 
}

.screen-x-small .logos-container {
  svg {
    margin: 0 auto;
    width: 50%;
    display: block;
    
  }
}

.screen-x-small .logos-container span {
  margin: initial;
  font-size: 16px;
}
