.track-map-popup, .track-map-page {
  .track-map-header {
    display: flex;
    height: 40px;
    align-items: center;

    .track-map-header-email {
      flex: 3;
      margin-left: 5px;
    }
  }

  .track-map-select-box-container {
    flex: 1;
    margin-left: 5px;
  }
}
