.track-map-stationary-zones-list-item {
  display: grid;
  row-gap: 5px;
  align-items: center;
  user-select: none;

  >div:nth-child(2) {
    display: flex;
    gap: 10px;
   }

  >div:nth-child(3) {
    padding: 5px;
  }

  > div:nth-child(3) {
    padding: 5px;
    > div {
      display: flex;
      column-gap: 5px;
      align-items: center;
    }
  }
}

.track-map-stationary-zones-list-item-info {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

