.track-map-info-window-grid thead tr td  {
  padding: 5px;
}
.track-map-info-window-grid {
   .track-map-info-window-data-row {
     display: grid;
     grid-template-columns: 20px 1fr;
     gap: 10px;
     padding-bottom: 2px;
     align-items: center;
   }
 }
