@import "../../themes/variables";

.mobile-devices-group {
  display: flex;
  color: $base-darkgrey-text-color;
  font-weight: bold;
  align-items: center;
  .dx-icon-user {
    margin-right: 10px;
    font-size: 2em;
  }
  span {
    color: rgba(0, 0, 0, .54)
  }
}

.dx-datagrid-rowsview .dx-row-focused.dx-group-row {
  .mobile-devices-group {
    color: inherit;
    span {
      color: inherit;
    }
  }
}

.mobile-devices .dx-datagrid-nodata {
  top: initial;
}
