@import "../../themes/generated/variables.base";

.mobile-devices-group {
  display: flex;
  color: $base-darkgrey-text-color;
  font-weight: bold;
  .dx-icon-user {
    align-self: flex-start;
    margin-top: 2px;
    margin-right: 10px;
    font-size: 2em;
  }
}

.dx-datagrid-rowsview .dx-row-focused.dx-group-row {
  .mobile-devices-group {
    color: inherit;
  }
}
.mobile-devices .dx-datagrid-nodata {
  top: initial;
}
