@import "../../themes/generated/variables.base";
.dx-link.dx-icon-map.dx-link-icon {
  color: $base-accent !important;
}
.timeline .dx-datagrid .dx-row > td {
  padding-top: 8px;
  padding-bottom: 7px;
  font-size: 13px;
  line-height: 18px;
}
