.track-map-info-window tr {
  height: 30px
}

.track-map-info-window tr td:first-child {
  width: 125px
}

.track-map-info-window tr td:first-child span {
  background-color: #363640;
  color: whitesmoke;
  padding: 6px 10px;
  border-radius: 2px;
  display: inline-block;
}

.track-map-info-window tr td:nth-child(2) {
  width: 175px
}

.track-map-info-window tr td:nth-child(2) span {
  background-color: #d75028;
  color: black;
  padding: 6px 10px;
  border-radius: 2px;
  display: inline-block;
}
