.track-map-popup {
  .track-map-header {
    display: flex;
    height: 40px;
    align-items: center;
  }

  .track-map-check-box-container {
    flex: 4;
  }
  .track-map-select-box-container {
    flex: 1;
  }
  .track-map-check-box, .track-map-select-box {
    margin-left: 5px;
  }
}
